* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style-position: inside;
}
a {
    color: inherit;
}
img, video, iframe{
    max-width: 100%;
    height: auto;
}
body {
    background-color: black;
    color: darkred;
    font-family: 'Metal Mania';
}